.packageNameField {
    position: relative;
    top: 75px;
    left: 408px;
    width: 400px;
}

.formInputSelect {
    position: relative;
    top: 100px;
    left: 408px;
    width: 400px;
}

.userInputSelect {
    position: relative;
    top: 125px;
    left: 408px;
    width: 400px;
}

.isPublicInput {
    position: relative;
    top: 125px;
    left: 408px;
    width: 400px;
}

.isPublicCheck {
    position: relative;
    width: 25px;
    height: 25px;
}

.isPublicCheck input {
    width: 25px;
    height: 25px;
}

#isPublicLabel {
    position: relative;
    top: 25px;
    left: -75px;
}

#isPublicInput {
    position: relative;
    left: 265px;
    top: -10px;
}

#addPackageCreateButton {
    position: relative;
    top: 150px;
}

#addPackageBackButton {
    position: relative;
    top: 150px;
    width: 135px;
}

#packageFormInput {
    position: relative;
    top: -40px;
    left: 625px;
}

#packageUserInput {
    position: relative;
    top: -40px;
    left: 625px;
}

.form, .targetUser, .name {
    position: relative;
    top: 50px;
    width: 300px;
    left: -50px;
}

.form label, .targetUser label {
    font-size: 20px;
    position: relative;
    left: 300px;
}

#packageUpdateButton {
    position: relative;
    left: -200px;
    top: 50px;
}

#packageDeleteButton {
    position: relative;
    top: -26px;
    width: 150px;
}

#packageBackButton {
    position: relative;
    top: -103px;
    left: 200px;
    width: 150px;
}

#packageCreateRequestButton {
    position: relative;
    top: -75px;
    left: -100px;
}

.button {
    position: relative;
    top: -25px;
}

#packagesCreateNewPackageButton {
    position: relative;
    top: 100px;
}

#packageCreateReportButton {
    position: relative;
    top: -137px;
    left: 95px;
}