.teamStatistic {
    position: relative;
    top: 125px;
    background: rgba(0, 0, 0, 0.65);
    height: 325px;
    width: 700px;
}

.teamStatisticDiagram {
    position: relative;
    top: -200px;
    left: 715px;
    height: 325px;
    width: 500px;
}

.teamStatisticBackButton {
    position: relative;
    top: -125px;
    width: 150px;
    left: 800px;
}

#teamStatisticBackButton {
    width: 150px;
}

.stat {
    height: 450px;
}

.teamStatisticBestFeedbackEmployee {
    position: relative;
    top: -425px;
}

.teamStatisticWorstFeedbackEmployee {
    position: relative;
    top: -425px;
}

#teamBestFeedbackEmployeeLabel {
    position: relative;
    top: 255px;
    left: -197px;
}

#teamWorstFeedbackEmployeeLabel {
    position: relative;
    top: 215px;
    left: -190px;
}

.teamStatisticSaveToPDF {
    position: relative;
    top: -163px;
    left: 200px;
    width: 150px;
}

#teamStatisticSaveToPDFButton {
    width: 150px;
}